@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1572330771742'); /* IE9 */
  src: url('iconfont.eot?t=1572330771742#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABqgAAAJ/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBEIEaATYCJAMMCwgABCAFhG0HNxvhBciemjwpUaGAAtRk1QNjhFE8/Lff//aZmXu/uCZroqv/pJpohAKRBCUTCYWSCcVDZr3/m9MrsbBXH5ZVAyAXaP8lfHk/N3IsHOlpfH56bnWznZ2anCM9WSnkpjWlskHlepMTNsQGHDNdAg0kz2Zzqm6PBpzggLpxTbYRPQD/MHaBS7hMoNUkSe5kZmmLVBXWrEC8812bVHMBRWHpZqGu2VjEF5Xm9Cm9IT6Hv49/jKiSVJm18PRtekDGfva5VPjQOHHjEwQJcHuFjHVEIe5qExcKgtEKWhXF9vxaEdJc4f8GoUBX1Tv9x0tEzSptB8tQl9yU0OUQ/FraIoEM6jg1j9hG1H5vEu3Wc9/v3PQtb1+HQXZvz5O2rgalG1s7a9tb67vbmzubMHy30D7tBoP38v/197vhK9N/8m52iNtt5W184y+PKj0zsZb4Kx/TNiHktfy9QPC1Ux4yOzvfzY0Cfoz+hLqin4vmcziDfybs2VZ0sWXMRRW4AtOVDY+0JSCPuzVYnl4f41UDvUsJzQZSJE0mkDWbJxbqOipttlBrto9Wa2a3t+mDCqK0YNUlQOj2jKTTd2TdhsRCHaEy6Au17iig1Vn0HdhmMfz6MYItYECdY+r3ecIcs6hH5Rvg7kc2ZsUhfQcw88NUV7RiehYSwDmWZAeuIQSjDHlMZ8B1EEWcpsgD6AvFEyLtqSqr+5DS5zGpO4aATQADlOMY5evjEszvLdRL398AXPsiNmypqnHvACjj90/pFFoP4qwi6VV1L7dkDrgMgsBQDOJi1AwYByIRjkrrxwVAn6DwRsRSPardjfVVKOur4g/IZ3VYJ+ZIkaOoHhH5Yek54hkQAgA=') format('woff2'),
  url('iconfont.woff?t=1572330771742') format('woff'),
  url('iconfont.ttf?t=1572330771742') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1572330771742#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e636";
}

.icon-close:before {
  content: "\e74c";
}

